body {
    background-color: blanchedalmond;
}

/* main container */
.con {
    width: 300px;
    text-align: center;
}

.if_not_video,
.upd_div {
    display: none;
}

.showops {
    display: block;
}

.show_para {
    font-size: 1.3rem;
    font-family: monospace;
    margin: 20px;
}

.desc_show_time {
    color: green;
}

.desc_show_desc {
    color: blue;
}

#red-dot {
    color: red;
}

#green-dot {
    color: green;
}

#green-dot,
#red-dot {
    font-size: 1.4rem;
}

#status {
    font-size: 1.2rem;
}